<nav class="col-md-2 col-sm-3 lg_sidenav p-0">
  <ul class="lg_sidenav__nav">
    <li class="lg_sidenav__logo">
      <div class="text-center">
        <a class="pl-0" href="https://mdbootstrap.com/"><img id="MDB-logo" src="https://mdbootstrap.com/wp-content/uploads/2018/06/logo-mdb-jquery-small.png" alt="MDB Logo"></a>
      </div>
    </li>
    <li>
      <form class="lg_sidenav__search-form" autocomplete="off">
        <div class="form-group mt-0 d-block">
          <input type="text" class="form-control pb-1 mb-0" name="s" placeholder="Search">
        </div>
      </form>
    </li>
    <li>
      <ul class="lg_sidenav__menu">
        <li>
          <a class="nav-link" href="/"><i class="fa fa-diamond"></i>Home</a>
        </li>
        <li>
          <a class="nav-link" href="/drink-type"><i class="fa fa-diamond"></i>Contents<i class="fa fa-angle-up lg_sidenav__rotate-icon"></i></a>
          <div class="lg_sidenav__collapsible-body">
            <ul class="sub-menu">
              <li>
                <a class="nav-link" href="/drink-type">Drink Type</a>
              </li>
              <li>
                <a class="nav-link" href="/drink-temperature">Drink Temperature</a>
              </li>
            </ul>
          </div>
        </li>
        <li>
        </li>
      </ul>
    </li>
  </ul>
</nav>
