<nav class="lg_side-nav p-0">
  <ul class="lg_side-nav__nav">
    <li class="lg_side-nav__item lg_side-nav__logo">
      <div class="text-center">
        <a class="pl-0" href="/">
          <img id="MDB-logo" src="https://mdbootstrap.com/wp-content/uploads/2018/06/logo-mdb-jquery-small.png" alt="MDB Logo">
        </a>
      </div>
    </li>
    <li class="lg_side-nav__item">
      <form class="lg_side-nav__search-form" autocomplete="off">
        <div class="form-group mt-0 d-block">
          <input type="text" class="lg_side-nav__input form-control pb-1 mb-0" name="s" placeholder="Search">
        </div>
      </form>
    </li>
    <li class="lg_side-nav__item">
      <ul class="lg_side-nav__menu">
        <li class="lg_side-nav__item">
          <a class="lg_side-nav__link" href="/"><i class="fa fa-home"></i>Home</a>
        </li>
        <li class="lg_side-nav__item">
          <a class="lg_side-nav__link" href="/drink-type"><i class="fa fa-pencil"></i>Contents<i class="fa fa-angle-up lg_side-nav__rotate-icon"></i></a>
          <div class="lg_side-nav__collapsible-body">
            <ul class="lg_side-nav__sub-menu">
              <li class="lg_side-nav__item">
                <a class="lg_side-nav__link" href="/drink-type">Drink Type</a>
              </li>
              <li class="lg_side-nav__item">
                <a class="lg_side-nav__link" href="/drink-temperature">Drink Temperature</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="lg_side-nav__item">
          <a class="lg_side-nav__link" href="#"><i class="fa fa-cog"></i>Others<i class="fa fa-angle-down lg_side-nav__rotate-icon"></i></a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
