<!-- Default form subscription -->
<form class="border border-light p-5" method="post" action="/drink-temperature/new">

    <p class="h4 mb-4">New Drink Temperature</p>

    {{> drinkTemperatureFields}}

    <!-- Sign in button -->
    <button class="btn btn-info" type="submit">Submit</button>

</form>
<!-- Default form subscription -->
