<!-- Default form subscription -->
<form class="border border-light p-5" method="post" action="/users/new">

    <p class="h4 mb-4">New User</p>

    {{> user-fields}}

    <!-- Sign in button -->
    <button class="btn btn-info" type="submit">Submit</button>

</form>
<!-- Default form subscription -->
