.lg_sidenav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid #eee;
  background-color: #F4F6F9; }
  .lg_sidenav .lg_sidenav__logo {
    padding-top: 1.8rem;
    padding-bottom: 1.8rem; }
  .lg_sidenav ul, .lg_sidenav li {
    margin: 0;
    padding: 0;
    list-style: none; }
  .lg_sidenav a {
    position: relative;
    display: block;
    padding: 0;
    padding-left: 20px;
    color: #424242;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    font-size: .8rem;
    font-weight: 400;
    height: 36px;
    line-height: 36px; }
    .lg_sidenav a:hover {
      background-color: rgba(0, 0, 0, 0.05); }
  .lg_sidenav .fa {
    margin-right: 13px;
    font-size: .8rem; }
  .lg_sidenav .lg_sidenav__rotate-icon.fa-angle-up {
    position: absolute;
    right: 0;
    top: .8rem;
    margin-right: 1.25rem; }
  .lg_sidenav .lg_sidenav__collapsible-body a {
    font-size: .78rem;
    height: 28px;
    line-height: 28px;
    background-color: rgba(95, 93, 93, 0.15);
    padding-left: 47px; }
    .lg_sidenav .lg_sidenav__collapsible-body a:hover {
      color: #4285f4;
      background-color: rgba(0, 0, 0, 0.05); }
  .lg_sidenav .lg_sidenav__search-form {
    border-top: 1px solid rgba(153, 153, 153, 0.3); }
    .lg_sidenav .lg_sidenav__search-form input {
      border: none;
      border-bottom: 1px solid rgba(153, 153, 153, 0.3);
      background-color: transparent;
      padding: 4px 0 4px 1.88rem; }
      .lg_sidenav .lg_sidenav__search-form input:focus {
        background-color: transparent;
        box-shadow: none;
        outline: 0;
        border-color: rgba(153, 153, 153, 0.3); }
