<!-- Default form subscription -->
<form class="border border-light p-5" method="post" action="/drink-type/new">

    <p class="h4 mb-4">New Drink Type</p>

    {{> drinkTypeFields}}

    <!-- Sign in button -->
    <button class="btn btn-info" type="submit">Submit</button>

</form>
<!-- Default form subscription -->
