<!DOCTYPE html>
<html>
<head>
  <title>CMS</title>

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Bootstrap core CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.11/css/mdb.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/site.css">
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      {{> navbar }}

      <main role="main" class="col-md-10 col-sm-9 offset-sm-2 pt-3">
        {{{body}}}
      </main>
    </div>
  </div>
</body>
</html>