<!DOCTYPE html>
<html>
<head>
  <title>CMS</title>

  <!-- Material Design for Bootstrap fonts and icons -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">

  <!-- Material Design for Bootstrap CSS -->
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      {{> sidebar }}

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        {{{body}}}
      </main>
    </div>
  </div>
</body>
</html>